<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="main.css">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Template</title>
</head>

<body>
   <div class="server-form">
      <img class="favicon" src="{{ data['favicon'] }}" alt="Fail to show favicon.">
      <div class="content">
         <label>
            {{ data["lang"]["version"]|safe }}{{ data["version"]|safe }}
         </label>
         <label>
            {{ data["lang"]["motd"]|safe }}{{ data["motd"]|safe }}
         </label>
         <label>
            {{ data["lang"]["slp_protocol"]|safe }}{{ data["slp_protocol"]|safe }}
         </label>
         {% if data["protocol_version"] is not none %}
            <label>{{ data["lang"]["protocol_version"]|safe }}{{ data["protocol_version"]|safe }}</label>
         {% endif %}
         <label>
            {{ data["lang"]["address"]|safe }}{{ data["address"]|safe }}
         </label>
         <label>
            {{ data["lang"]["port"]|safe }}{{ data["port"]|safe }}
         </label>
         <label>
            {{ data["lang"]["delay"]|safe }}{{ data["delay"]|safe}}
         </label>
        {% if 'BEDROCK' in data["slp_protocol"] %}
            <label>{{ data["lang"]["gamemode"]|safe }}{{ data["gamemode"]|safe }}</label>
        {% endif %}
         <label>
            {{ data["lang"]["players"]|safe }}{{ data["players"]|safe }}
         </label>
         {% if data["player_list"] is not none %}
            <label>{{ data["lang"]["player_list"]|safe }}{{ data["player_list"]|safe }}</label>
         {% endif %}
      </div>
      <div class="watermark">
         zhenxun_plugin_mccheck v{{ data["VERSION"] }} by molanp.
      </div>
   </div>
</body>

</html>